In [1]:
import pandas as pd

In [6]:
test_bodies = pd.read_csv("fnc-1/competition_test_bodies.csv")
test_bodies.head()

   Body ID                                        articleBody
0        1  Al-Sisi has denied Israeli reports stating tha...
1        2  A bereaved Afghan mother took revenge on the T...
2        3  CNBC is reporting Tesla has chosen Nevada as t...
3       12  A 4-inch version of the iPhone 6 is said to be...
4       19  GR editor’s Note\n\nThere are no reports in th...

In [5]:
test_stances = pd.read_csv("fnc-1/competition_test_stances.csv")
test_stances.head()

                                            Headline  Body ID     Stance
0  Ferguson riots: Pregnant woman loses eye after...     2008  unrelated
1  Crazy Conservatives Are Sure a Gitmo Detainee ...     1550  unrelated
2  A Russian Guy Says His Justin Bieber Ringtone ...        2  unrelated
3  Zombie Cat: Buried Kitty Believed Dead, Meows ...     1793  unrelated
4  Argentina's President Adopts Boy to End Werewo...       37  unrelated

In [ ]:
train_bodies = pd